body {
    color: black;
    font: arial white;
} 

h1 {
    color: grey;
    font: verdana;
}

mark {
    color: black;
}

.maindiv {
  background-color: white;
  font: black;
  width: 350px;
  padding: 20px;
  border-radius: 25px;
  margin: auto;
}

.amount {
  display: block;
}

.intRate {
  display: block;
}

.length {
  display: block;
}
.amountRight {
  margin: 0px 0px 10px 45px;
}

.right {
  margin: 0px 0px 10px 15px;
}

.calc {
  display: block;
  margin-bottom: 10px;
}

