body {
    color: black;
    font: arial white;
} 

h1 {
    color: grey;
    font: verdana;
}

mark {
    color: black;
}

.maindiv {
  background-color: white;
  font: black;
  width: 300px;
  padding: 20px;
  border-radius: 25px;
  margin: auto;
}


.amountRight {
  margin: 0px 0px 10px 53px;
}

.right {
  margin: 0px 0px 10px 25px;
}

.calc {
  display: block;
  margin-bottom: 10px;
}

